<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find nav_sim)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find nav_sim)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find nav_sim)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav_sim)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav_sim)/base_local_planner_params.yaml" command="load" />
    <param name="clearing_rotation_allowed" value="false" />
    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />
    <!-- <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" /> -->
    <param name="controller_frequency" value="10.0" />
  </node>
</launch>
