<launch>
  <!-- Publish SegmentList -->
  <node pkg="rostopic" type="rostopic" name="publish_segment_list" args="pub --latch /map_segments light_scan_sim/SegmentList -f $(find light_scan_sim)/data/office_walls.yaml" output="screen" />
  <!-- Publish Materials -->
  <node pkg="rostopic" type="rostopic" name="publish_material_list" args="pub --latch /map_materials light_scan_sim/MaterialList -f $(find light_scan_sim)/data/materials.yaml" output="screen" />


  <!-- The scan simulator -->
  <node name="light_scan_sim" pkg="light_scan_sim" type="light_scan_sim_node" output="screen">
    <rosparam file="$(find nav_sim)/config/scan_config.yaml" command="load" />
  </node>

</launch>
