<launch>
  <node pkg="tf" type="static_transform_publisher" name="base_frame_laser" args="0 0 0.3 0.0 0 0 /base_link /laser 10" />

  <!-- PITCH THE RANDOM NOISE, GROUND SCAN SOURCE DOWN 0.08 RADIANS TO SIMULATE READINGS, now done dynamically in sim_bot.py -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="base_frame_laser2" args="0 0 0.3 0.0 0.08 0 /base_link /noise_laser 10" /> -->

  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="5.0 0 0 0.0 0 0 /map /odom 2" />
  
  <node pkg="nav_sim" type = "sim_bot.py" name = "sim_bot" />

  <!-- Run the map server -->
  <arg name="map_file" default="$(find nav_sim)/config/big_run_map1u_clean_append6.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
</launch>
